# Ignore IDE Files
.idea

# Ignore node artifacts
web/node_modules

# Ignore the database
*.db

# Ignore files marked as 'Secret'
*.secret

# Ignore Python Compilation Artifacts
*.pyc
*.pyo

ignore sensitive files
*.env